<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Feb 27 2014 22:21:55 GMT+0000 (UTC) -->
<html data-wf-site="530fb8ce06272bc65900015f">
<head>
  <meta charset="utf-8">
  <title>Copy of Chore App v2.0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/chap.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Open Sans:300,400,600,700,800"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <div class="topdiv">
    <a class="w-inline-block link_buttons" href="dashboard.html">
      <img class="home_button" src="images/logo.png" width="150" alt="530f7159a531aa3203000125_logo.png">
    </a>
  </div>
  <div class="user_tasklist">
    <div>
      <h2>User 1</h2>
    </div>
    <div class="w-clearfix">
      <div class="task">This is a task for User 1</div>
      <div class="task">This is another task for User 1</div>
      <div class="task">This is yet another task</div>
    </div>
  </div>
  <footer class="bottomdiv">
    <a class="w-inline-block link_buttons" href="index.html">
      <img class="bottom_buttons" src="images/logout.png" alt="logout" width="40" height="40">
    </a>
    <a class="w-inline-block link_buttons" href="add.html">
      <img class="bottom_buttons" src="images/add.png" width="60" height="60" alt="530f6c22a531aa32030000da_add.png">
    </a>
  </footer>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
</body>
</html>